In [2]:
class person:
    def __init__(self,name,age,gender,occupation):
        self.name=name
        self.age=age
        self.gender=gender
        self.occupation=occupation 
    
    def introduce(self):
        print(f"Hi, my name is {self.name}. I am {self.age} years old. I work for {self.occupation} organization")

    def work(self):
        print(f"my work hours are 10am-8pm")
    
    def hobbies(self):
        print(f"my hobbies are watching movie")

In [3]:
p1=person("deepak",25,"male","tcs")

In [4]:
p1.age

25

In [7]:
p1.introduce()

Hi, my name is deepak. I am 25 years old. I work for tcs organization


Create a class bank account with attributes as account holder name, balance ,account number Define below methods : withdrawal deposit transfer

In [12]:
class bank_account:
    
    def __init__(self,account_number,account_holder_name,balance):
        self.account_number=account_number
        self.account_holder_name=account_holder_name
        self.balance=balance
    

    def deposit(self,amount):
        self.balance=self.balance+amount
        return f"amount got deposited to {self.account_number}. your new balance is {self.balance}"
    
    def withdrawal(self,amount):
        self.balance=self.balance-amount
        return f"amount got deducated from {self.account_number}. your new balance is {self.balance}"

In [13]:
b1=bank_account(456287818,"deepak kumar",48455484)

In [14]:
b1.account_holder_name

'deepak kumar'

In [15]:
b1.balance

48455484

In [16]:
b1.withdrawal(456584)

'amount got deducated from 456287818. your new balance is 47998900'

In [17]:
b1.balance

47998900